{% load static %}

<nav class="pc-sidebar">
    <div class="navbar-wrapper">

        <div class="m-header">
            <a href="" class="b-brand text-primary">
                <img src="{% static 'images/logo.svg' %}" class="img-fluid logo-lg" alt="logo" />
            </a>
        </div>
        <div class="navbar-content">

            {% if "shop" in request.path or "seller" in request.path %}
            <div class="card pc-user-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="{% if shop.shop_logo %}{{ shop.shop_logo.url }}{% else %}{% static 'images/user-default.jpg' %}{% endif %}"
                                alt="user-image" class="user-avtar wid-45 rounded-circle" />
                        </div>
                        <div class="flex-grow-1 ms-3 me-2">
                            <h6 class="mb-0">{{request.user.username|upper}}</h6>
                            <small>Seller</small>
                        </div>
                        <a class="btn btn-icon btn-link-secondary avtar" data-bs-toggle="collapse"
                            href="#pc_sidebar_userlink">
                            <svg class="pc-icon">
                                <use xlink:href="#custom-sort-outline"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="collapse pc-user-links" id="pc_sidebar_userlink">
                        <div class="pt-3">
                            <a href="{% url 'seller_dashboard' %}">
                                <span class="pc-micon">
                                    <span class="material-symbols-outlined">
                                        home
                                    </span>
                                </span>
                                <span class="pc-mtext">Home</span>
                            </a>
                            <a href="">
                                <span class="pc-micon">
                                    <span class="material-symbols-outlined">
                                        key
                                        </span>
                                </span>
                                <span class="pc-mtext">Change Password</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <ul class="pc-navbar">
                {% if "seller" in request.path %}
                <li class="pc-item">
                    <a href="{% url 'seller_dashboard' %}" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                grid_view
                            </span>
                        </span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>
                {% elif "shop" in request.path %}
                <li class="pc-item">
                    <a href="{% url 'shop_dashboard' shop.shop_id %}" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                grid_view
                            </span>
                        </span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                storefront
                            </span>
                        </span>
                        <span class="pc-mtext">Product Management</span>
                        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="{% url 'product_list' shop.shop_id %}">Products</a>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="{% url 'product_register' shop.shop_id %}">Product
                                Register</a>
                        <li class="pc-item"><a class="pc-link"
                                href="{% url 'product_category_management' shop.shop_id %}">Product Categories</a>
                        </li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                orders
                            </span>
                        </span>
                        <span class="pc-mtext">Order Management</span>
                        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="">Orders</a></li>
                        <li class="pc-item"><a class="pc-link" href="">Order History</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if "seller" in request.path %}
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                storefront
                            </span>
                        </span>
                        <span class="pc-mtext">Shop Management</span>
                        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="{% url 'shop_list' %}">Shop List</a></li>
                        <li class="pc-item"><a class="pc-link" href="{% url 'shop_register' %}">Shop Registration</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <!-- <li class="pc-item">
                    <a href="" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                show_chart
                            </span>
                        </span>
                        <span class="pc-mtext">Statistics</span>
                        <span class="pc-badge">2</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                attach_money
                            </span>
                        </span>
                        <span class="pc-mtext">Finance</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="" class="pc-link">
                        <span class="pc-micon">
                            <span class="material-symbols-outlined">
                                display_settings
                            </span>
                        </span>
                        <span class="pc-mtext">Settings</span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>