{% extends 'base.html' %}
{% load static %}

{% block title %}Sahlan Hub - {{ title }} {% endblock title %}

{% block content %}

<h2>{{ title }}</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.username }}
    {{ form.email }}
    {{ form.phone_number }}
    <div>
        <img id="image-preview" src="" alt="business_license" width="100px" style="display: none;">
        <input type="file" id="id_photo" name="business_license" accept=".jpg, .jpeg, .png" required>
    </div>
    <script>
        document.getElementById('id_photo').addEventListener('change', function () {
            const preview = document.getElementById('image-preview');
            const file = this.files[0];
    
            if (file) {
                preview.src = URL.createObjectURL(file);
                preview.style.display = "block";
            } else {
                preview.src = "";
                preview.style.display = "none";
            }
        });
    </script>
    {{ form.password1 }}
    {{ form.password2 }}
    <button type="submit">Register</button>
</form>
<a href="{% url 'login' %}">Login</a>

{% endblock %}