{% extends '_core_app/base.html' %}
{% load static %}

{% block title %}Sahlan Hub - {{ title }} {% endblock title %}

{% block content %}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0)">E-commerce</a></li>
                    <li class="breadcrumb-item" aria-current="page">Products list</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">Products list</h2>
                </div>
            </div>
        </div>
    </div>
</div>


        <div class="card table-card">
            <div class="card-body p-3 p-md-3">

                <div class="d-flex justify-content-end">
                    <a href="{% url 'product_register' shop.shop_id %}" 
                       class="btn btn-dark d-flex align-items-center gap-2 w-auto w-md-100 mb-3">
                        <i class="ti ti-plus f-18"></i>
                        <span class="d-none d-sm-inline">Product Register</span>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" id="pc-dt-simple">
                        <thead>
                            <tr>
                                <th class="text-end">No</th>
                                <th>Product</th>
                                <th>Category</th>
                                <th class="text-end">Price</th>
                                <th class="text-end">Qty</th>
                                <th>Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="text-end">{{ forloop.counter }}</td>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto pe-0">
                                            <img src="{% if product.product_image %}{{ product.product_image.url }}{% else %}{% static 'images/user-default.jpg' %}{% endif %}"
                                                 alt="product-image" class="wid-40 rounded" />
                                        </div>
                                        <div class="col">
                                            {{ product.product_name }}
                                        </div>
                                    </div>
                                </td>
                                <td>{{ product.product_category_name|default:"-" }}</td>
                                <td class="text-end">{{ product.product_price }}</td>
                                <td class="text-end">70</td>
                                <td><span class="badge bg-light-success f-12">In Stock</span></td>
                                <td class="text-center">
                                    <ul class="list-inline me-auto mb-0">
                                        <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="View">
                                            <a href="#" class="avtar avtar-xs btn-link-secondary btn-pc-default"
                                               data-bs-toggle="modal" data-bs-target="#cust-modal">
                                                <i class="ti ti-eye f-18"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Edit">
                                            <a href=""
                                               class="avtar avtar-xs btn-link-success btn-pc-default">
                                                <i class="ti ti-edit-circle f-18"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>


<!-- <script src="{% static 'admin_seller_theme/js/plugins/simple-datatables.js' %}"></script>
<script>
    const dataTable = new simpleDatatables.DataTable('#pc-dt-simple', {
        sortable: false,
        perPage: 5
    });
</script> -->

{% endblock %}