{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sahlan Hub{% endblock %}</title>
    {% if debug %}
    <script src="http://127.0.0.1:8000/__reload__/reload.js"></script>
    {% endif %}
  </head>

  <body>
    <header>
      <h1>{{ SITE_NAME }}</h1>
      {% include 'navbar.html' %}
    </header>
    <main>
      {% block content %}
      <p>Default content goes here.</p>
      {% endblock content %}
    </main>
    {% include 'footer.html' %}
  </body>
</html>
