{% load i18n %}

<nav>
    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
            <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
        {% endif %}

        {% if request.user.role == 'C' %}
            <li><a href="{% url 'customer_home' %}">{% trans "Customer Homepage" %}</a></li>
        {% elif request.user.role == 'S' %}
            {% if shop %}
                <li>{{ shop.shop_name }}</li>
            {% endif %}
            <li><a href="{% url 'seller_dashboard' %}">{% trans "Dashboard" %}</a></li>
        {% endif %}

        {% if title not in 'Login Register' %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
            {% endif %}
        {% endif %}

        <li>
            <form action="{% url 'set_language' %}" method="POST">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()">
                    {% for code, name in languages %}
                        <option value="{{ code }}" {% if request.LANGUAGE_CODE == code %}selected{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </li>
    </ul>
</nav>
