{% load i18n %}

<nav dir="ltr">

    <a href="{% url 'home' %}">{% trans "Home" %}</a> |

    {% if request.user.role == 'C' %}
    <a href="{% url 'customer_home' %}">{% trans "Customer Homepage" %}</a> |
    {% elif request.user.role == 'S' %}
    <a href="{% url 'seller_dashboard' %}">{% trans "Dashboard" %}</a> |
    {% endif %}

    <a href="{% url 'about' %}">{% trans "About" %}</a> |
    <a href="{% url 'contact' %}">{% trans "Contact" %}</a>

    {% if title != 'Login' and title != 'Register' %}
        {% if user.is_authenticated %}
        |
        <a href="{% url 'logout' %}">{% trans "Logout" %}</a> |
        <a href="{% url 'profile' %}">{% trans "Profile" %}</a>
        {% else %}
        |
        <a href="{% url 'login' %}">{% trans "Login" %}</a>
        {% endif %}
    {% endif %}

    <!-- Language Switcher -->
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" onchange="this.form.submit()">
            <option value="ms" {% if request.LANGUAGE_CODE == 'ms' %}selected{% endif %}>Bahasa Melayu</option>
            <option value="ar" {% if request.LANGUAGE_CODE == 'ar' %}selected{% endif %}>العربية</option>
        </select>
    </form>
</nav>
