{% extends '_core_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Sahlan Hub - {{ title }} {% endblock title %}

{% block content %}

<section class="tf-slideshow slider-style2 slider-effect-fade" style="height: 90vh;">
    <div dir="ltr" class="swiper tf-sw-slideshow" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false"
        data-space="0" data-space-mb="0" data-loop="true" data-auto-play="false">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="{% static 'customer_theme/images/slider/slider-sock4.jpg' %}" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <div class="content-slider">
                                <div class="box-title-slider">
                                    <div class="fade-item fade-item-1 heading title-display">
                                        Cozy Socks for <br>
                                        Kids
                                    </div>
                                    <p class="fade-item fade-item-2 body-text-1">
                                        Soft, stretchy, and adorable. <br class=" d-block d-md-none"> Perfect
                                        for
                                        protecting little feet every
                                        day!
                                    </p>
                                </div>
                                <!-- <div class="fade-item fade-item-3 box-btn-slider">
                                    <a href="shop-default-grid.html" class="tf-btn btn-fill btn-white">
                                        <span class="text">Explore Collection</span>
                                        <i class="icon icon-arrowUpRight"></i>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="{% static 'customer_theme/images/slider/slider-sock5.jpg' %}" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <div class="content-slider">
                                <div class="box-title-slider">
                                    <div class="fade-item fade-item-1 heading title-display">
                                        Perfect Socks <br> for Every Step
                                    </div>
                                    <p class="fade-item fade-item-2 body-text-1">Quick! Grab limited-time deals
                                        before they’re gone.</p>
                                </div>
                                <!-- <div class="fade-item fade-item-3 box-btn-slider">
                                    <a href="shop-default-grid.html" class="tf-btn btn-fill btn-white">
                                        <span class="text">Explore Collection</span>
                                        <i class="icon icon-arrowUpRight"></i>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-pagination stype-space-2">
        <div class="container">
            <div class="sw-dots sw-pagination-slider type-circle justify-content-center"></div>
        </div>
    </div>
</section>

{% endblock %}
