{% extends '_core_app/base.html' %}

{% load static %}

{% block title %}Sahlan Hub - {{ title }} {% endblock title %}

{% block content %}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Shop Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Registration</li>
                    </ul>
                </nav>
                <div class="page-header-title">
                    <h2 class="mb-0">Shop Registration</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h5>Shop Registration</h5>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="id_shop_name">Name</label>
                    {{ form.shop_name }}
                    <div class="text-danger">
                        {{ form.shop_name.errors }}
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label" for="id_shop_phone_number">Phone No</label>
                    {{ form.shop_phone_number }}
                    <div class="text-danger">
                        {{ form.shop_phone_number.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="id_shop_logo">Logo</label>
                    {{ form.shop_logo }}
                    <div class="text-danger">
                        {{ form.shop_logo.errors }}
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label" for="id_shop_bg_photo">Background</label>
                    {{ form.shop_bg_photo }}
                    <div class="text-danger">
                        {{ form.shop_bg_photo.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6 d-flex justify-content-center align-items-center">
                    <img id="logo-preview" class="rounded-circle img-fluid object-fit-cover"
                        src="{% static 'images/user-default.jpg' %}" style="width:150px;height:150px;"
                        alt="Logo preview" />
                </div>
                <div class="mb-3 col-md-6">
                    <img id="bg-preview" class="w-100 card-img object-fit-cover"
                        src="{% static 'images/white_bg.jpeg' %}" style="height:200px;" alt="Background preview" />
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_shop_address_1">Address 1</label>
                {{ form.shop_address_1 }}
                <div class="text-danger">
                    {{ form.shop_address_1.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_shop_address_2">Address 2 (optional)</label>
                {{ form.shop_address_2 }}
                <!-- {{ form.shop_address_2.errors }} -->
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="id_shop_city">City</label>
                    {{ form.shop_city }}
                    <div class="text-danger">
                        {{ form.shop_city.errors }}
                    </div>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="id_shop_state">State</label>
                    {{ form.shop_state }}
                    <div class="text-danger">
                        {{ form.shop_state.errors }}
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label class="form-label" for="id_shop_postcode">Zip</label>
                    {{ form.shop_postcode }}
                    <div class="text-danger">
                        {{ form.shop_postcode.errors }}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_shop_category">Category</label>
                {{ form.shop_category }}
                <div class="text-danger">
                    {{ form.shop_category.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_shop_desc">Description</label>
                {{ form.shop_desc }}
                <div class="text-danger">
                    {{ form.shop_desc.errors }}
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-dark w-100">Register</button>
            </div>
        </form>
    </div>
</div>


<!-- <script>
    function previewImage(inputElement, previewElementId) {
        const preview = document.getElementById(previewElementId);

        if (inputElement.files && inputElement.files[0]) {
            const fileURL = URL.createObjectURL(inputElement.files[0]);
            preview.src = fileURL;

            preview.onload = function () {
                URL.revokeObjectURL(fileURL);
            };
        } else {
            if (previewElementId === 'bg-preview') {
                preview.src = "{% static 'images/white_bg.jpeg' %}";
            } else if (previewElementId === 'logo-preview') {
                preview.src = "{% static 'images/user-default.jpg' %}";
            }
        }
    }

    document.getElementById('change-bg-photo').addEventListener('change', function () {
        previewImage(this, 'bg-preview');
    });

    document.getElementById('change-logo-photo').addEventListener('change', function () {
        previewImage(this, 'logo-preview');
    });
</script> -->

<script>
    // phone: digits only + max 11
    const phoneInput = document.getElementById('id_shop_phone_number');
    if (phoneInput) {
      phoneInput.addEventListener('input', (e) => {
        e.target.value = e.target.value.replace(/[^0-9]/g, '').slice(0, 11);
      });
    }
  
    // logo preview
    document.getElementById('id_shop_logo').addEventListener('change', function () {
      const file = this.files[0];
      const preview = document.getElementById('logo-preview');
      if (file) {
        preview.src = URL.createObjectURL(file);
      }
    });
  
    // bg preview
    document.getElementById('id_shop_bg_photo').addEventListener('change', function () {
      const file = this.files[0];
      const preview = document.getElementById('bg-preview');
      if (file) {
        preview.src = URL.createObjectURL(file);
      }
    });
  </script>


{% endblock %}